@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400';

/* tables seting */
$base-spacing-unit: 16px;
$half-spacing-unit: $base-spacing-unit / 2;


$color-form-highlight: #EEEEEE;

/* colors */
$blue: #428BFF;
$red: #FF4A53;
$dark: #333;
$button: #474747;

$accent: $blue;
$accent-inactive: desaturate($accent, 85%);
$secondary: $accent-inactive;


/* tab setting */
$tab-count: 4;
$indicator-width: 50px;
$indicator-height: 4px;

/* breakpoints */
$breakpoints: (
  medium: #{$tab-count*250px},
  small: #{$tab-count*150px}
);

.loader {
  color:grey;
  font-family:sans-serif;
  height:5vh;
  left:50%;
  overflow:hidden;
  padding-top:7vh;
  position:absolute;
  text-align:center;
  top:50%;
  transform:translate(-50%,-50%);
 
  &:before {
    animation:left-to-right 3s alternate infinite linear;
    background-image:linear-gradient(to right, transparent, red, transparent);
    // bottom:0;
    content:"";
    height:5vh;
    left:0;
    overflow:hidden;
    position:absolute;
    right:0;
    top:0;
  }
  &:after {
    background-image:repeating-linear-gradient(
      90deg,
      white,
      white 1vw,
      transparent 1vw,
      transparent 10vw
    );
    content:"";
    height:5vh;
    left:0;
    overflow:hidden;
    position:absolute;
    right:0;
    top:0;
  }
}

@keyframes left-to-right {
  0% {
    transform:translateX(-100%);
  }
  100% {
    transform:translateX(100%);
  }
}
/* selectors relative to radio inputs */
$label-selector: "~ ul > li";
$slider-selector: "~ .slider";
$content-selector: "~ .content > section";

@mixin tabs($label-selector: $label-selector,
  $slider-selector: $slider-selector,
  $content-selector: $content-selector) {

  @for $i from 1 through $tab-count {
    &:nth-of-type(#{$i}):checked {
      #{$label-selector}:nth-child(#{$i}) {
        @content;
      }

      #{$slider-selector} {
        transform: translateX(#{100% * ($i - 1)});
      }

      #{$content-selector}:nth-child(#{$i}) {
        display: block;
      }
    }
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: #efefef;
  color: $dark;
  font-family: "Raleway";
  height: 100%;

  h1 {
    text-align: center;
    color: $accent;
    font-weight: 300;
    padding: 40px 0 20px 0;
    margin: 0;
  }
}

.tabs_head {
  position: sticky;
  top: 10px;
  opacity: 0.9;
  background-color: #fff;
}

.tabs {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 40px;
  padding-bottom: 80px;
  width: 90%;
  min-height: 250px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  min-width: #{$tab-count * 60px};

  input[name="tab-control"] {
    display: none;
  }

  .content section h2,
  ul li label {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: $accent;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    li {
      box-sizing: border-box;
      flex: 1;
      width: #{100% / $tab-count};
      padding: 0 10px;
      text-align: center;

      label {
        transition: all 0.3s ease-in-out;
        color: $secondary;
        padding: 5px auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        white-space: nowrap;
        -webkit-touch-callout: none;


        br {
          display: none;
        }

        svg {
          fill: $secondary;
          height: 1.2em;
          vertical-align: bottom;
          margin-right: 0.2em;
          transition: all 0.2s ease-in-out;
        }

        &:hover,
        &:focus,
        &:active {
          outline: 0;
          color: lighten($secondary, 15%);

          svg {
            fill: lighten($secondary, 15%);
          }
        }
      }
    }
  }

  .slider {
    position: relative;
    width: #{100%/$tab-count};
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);

    .indicator {
      position: relative;
      width: $indicator-width;
      max-width: 100%;
      margin: 0 auto;
      height: $indicator-height;
      background: $accent;
      border-radius: 1px;
    }

  }

  .content {
    margin-top: 30px;

    section {
      display: none;

      animation: {
        name: content;
        direction: normal;
        duration: 0.3s;
        timing-function: ease-in-out;
        iteration-count: 1;
      }

      line-height: 1.4;

      h2 {
        color: $accent;
        display: none;

        &::after {
          content: "";
          position: relative;
          display: block;
          width: 30px;
          height: 3px;
          background: $accent;
          margin-top: 5px;
          left: 1px;
        }
      }
    }
  }

  input[name="tab-control"] {
    @include tabs {
      >label {
        cursor: default;
        color: $accent;

        svg {
          fill: $accent;
        }

        @media (max-width: map-get($breakpoints, small)) {
          background: rgba(0, 0, 0, 0.08);
        }
      }
    }
  }

  @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }

    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  @media (max-width: map-get($breakpoints, medium)) {
    ul li label {
      white-space: initial;

      br {
        display: initial;
      }

      svg {
        height: 1.5em;
      }
    }
  }

  @media (max-width: map-get($breakpoints, small)) {
    ul li label {
      padding: 5px;
      border-radius: 5px;

      span {
        display: none;
      }
    }

    .slider {
      display: none;
    }

    .content {
      margin-top: 20px;

      section h2 {
        display: block;
      }
    }
  }
}

.parent_grid_object {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 20px;

  a{
    padding: 5px;
    background-color: #a1a1a1;
    text-decoration: none;
    color:black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

  }

  a:hover{
    animation: animObjEdit 2s cubic-bezier(0.55, 0, 1, 0.45) 0s infinite normal forwards;
  }
}
@keyframes animObjEdit {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0.6;
	}
}


/* tables */
.container_table {
  
	min-width: 100px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
  align-items: flex-start;
	justify-content:center;

	

}
.table-content{
  /* overflow-y: auto;
  height:40vh; */
  visibility: 1;
}
.table {
	width:100%;
	border:1px solid $color-form-highlight;

}

.table-header {
	display:flex;
	width:100%;
	background:#000;
	padding:($half-spacing-unit * 1.5) 0;
}

.table-row {
	display:flex;
	width:100%;
	padding:($half-spacing-unit * 1.5) 0;
	
	&:nth-of-type(odd) {
		background:$color-form-highlight;
	}
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
	padding-left:$base-spacing-unit;
	padding-right:$base-spacing-unit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.button_delete {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button_delete:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.button_delete:active {
	position:relative;
	top:1px;
}
.info_possible{
background-color: lightgreen;
}
.info_impossible{
  background-color: hotpink;

}
/*
animation for optimization key
*/

.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  color: #000;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

/* adress edit*/
.inputNewContainer {
  width: 300px;
  position: relative;
  input {
  box-shadow: 0px 0px 5px 0px rgba(166, 255, 169, 0.75);
  border-width: 0px;
  background-color: #a6ffa9;
  border-radius: 5px;
  margin: 2px;
  padding: 1px 30px 1px 7px;
  width: 270px;
  outline: none;
  height: 30px;
  font-size: 20px;
}
}



.inputNewContainer button {
  position: absolute;

  border-radius: 5px;
  right: 0px;
  z-index: 2;
  border: none;
  top: 3px;
  height: 30px;
  cursor: pointer;
  color: #fd2828;
  background-color: #180000;
  transform: translateX(7px);
}

.inputOldContainer {
  width: 300px;
  position: relative;
}

.inputOldContainer input {
  box-shadow: 0px 0px 5px 0px rgba(166, 255, 169, 0.75);
  border-width: 0px;
  background-color: #a6ffa9;
  border-radius: 5px;
  margin: 2px;
  padding: 1px 60px 1px 7px;
  width: 240px;
  outline: none;
  height: 30px;
  font-size: 20px;
}

.inputOldContainer button {
  position: absolute;
  border-radius: 5px;
  right: 0px;
  z-index: 2;
  border: none;
  top: 3px;
  height: 30px;
  cursor: pointer;
  min-width: 30px;
}

.oldButtonHidden {
  color: #0a013d;
  background: #acacac url(../ico/eye-blocked.svg )no-repeat center ;
  background-size: 30px 30px;
  transform: translateX(-10px);
}
.oldButtonHidden:hover{
  animation: animObjEdit 2s cubic-bezier(0.55, 0, 1, 0.45) 0s infinite normal forwards;
}
.oldButtonNotHidden {
  color: #ffffff;
  background: #8b83f5 url(../ico/eye.svg )no-repeat center ;
  background-size: 30px 30px;
  transform: translateX(-10px);
}
.oldButtonNotHidden:hover{
  animation: animObjEdit 2s cubic-bezier(0.55, 0, 1, 0.45) 0s infinite normal forwards;
}

.oldButtonLoadChild {
  color: #ffffff;
  background-color: #0f4100;
  transform: translateX(-10px);
  
}


.btn_child {
  transform: translate(0);
  transform-style: preserve-3d;
  background: lightblue;
  transform: translateX(40px);

}

.shadow:before {
  content: "";
  position: absolute;
  inset: -1px;
  transform: translate3d(2px, 1px, -1px);
  background: conic-gradient(from 90deg at 40% -25%, #00e1ff, #03c6f7, #07d3ee, #0ae66d, #0dde29, #31d610, #8dcf12, #c7a615, #67cf12, #10d64b, #0dde5d, #07cbee, #03bef7, #00a2ff, #0084ff, #0400ff);
  filter: blur(2px);
  border-radius: inherit;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -14px 0 0 -14px;
  width: 28px;
  height: 28px;
}


.spinner .path {
  stroke: #93bfec;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.flex-cont-title {

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  width: auto;
  min-height: 20px;
}

.flex-box-title {

  margin: 5px;
  padding: 5px;
  flex: 1 0 auto;
  align-self: flex-start;
  order: 0;
}

.flex-box-title:not(:last-child) {
  background-color: #fff4ce;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.33), 0px 0px 2px rgb(0, 0, 0), 1px 3px 10px 4px rgba(0, 0, 0, 0.42);
}

.flex-box-title:last-child {
  box-shadow: -2px -2px 4px rgb(217, 217, 26) inset, 3px 3px 6px rgba(50, 50, 1, 0.93) inset;
  border-radius: 3px;
}

.tooltip {
  border-bottom: 1px dotted #0077AA;
  cursor: help;
}

.tooltip::after {
  background: rgb(245 2 2 / 61%);
  border-radius: 8px 8px 8px 0px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  color: #FFF;
  content: attr(data-tooltip);
  margin-top: -31px;

  padding: 3px 7px;
  position: absolute;
  opacity: 0;
  visibility: visible;
  animation: ani 2.5s forwards;
  z-index: 500;
  transform: translateX(146px);
}

@keyframes ani {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

/* стили модального окна*/
@media screen and (max-height: 400px) {
  .confirm {
      height: 360px;

  }
  .body_dialog {
      height: 260px;
  }

}
@media screen and ((min-height: 401px) and (max-height: 500px)) {
  .confirm {
      height: 370px;
      
  }
  .body_dialog {
      height: 270px;
  }

}
@media screen and ((min-height: 501px) and (max-height: 600px)) {
  .confirm {
      height: 470px;
  }
  .body_dialog {
      height: 370px;
  }
}
@media screen and ((min-height: 601px) and (max-height: 700px)) {
  .confirm {
      height: 570px;
  }
  .body_dialog {
      height: 470px;
  }

}@media screen and (min-height: 701px) {
  .confirm {
      height: 670px;
  }
  .body_dialog {
      height: 570px;
  }

}

.confirm {
  overflow:hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  min-width: 280px;
  max-width: 1100px;
 
  background-color: #adadadf0;
  border-radius: 15px;
  padding: 0;
  margin: 0;
  border: 0px solid #00000014;
  animation: fade 1s ease 1 forwards;
  -webkit-box-shadow: 0px 0px 80px 60px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 0px 80px 60px rgba(0, 0, 0, 0.6);
}

.confirm h1 {
  text-align: center;
  font-size: 1.2rem;
  margin: 1.5rem 1rem 0.5rem;
}

.confirm p {
  text-align: center;
  font-size: 1rem;
  margin: 0 2rem 0;
}

.confirm #close,
#save {
  background-color: #c2c2c2;
  border: none;
  color: #1678E5;
  height: 3rem;
  font-size: 1rem;
  width: 50%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.confirm #close:nth-of-type(1) {
  border-top: 1px solid #B4B4B4;
  border-right: 1px solid #8d8d8d;
  left: 0;
  border-radius: 0 0 0 10px;
}

.confirm #save:nth-of-type(2) {
  border-top: 1px solid #B4B4B4;
  right: 0;
  border-radius: 0 0 10px 0;
}

.confirm button:hover {
  font-weight: bold;
 
}

.confirm button:disabled {
  color: gray !important;

  cursor: not-allowed !important;
}

.confirm button:active {
  background: #D6D6D6;
}

.body_dialog {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;


}
.modal_but{
 overflow:hidden; 
}
.title_dialog {
  min-height: 50px;
}